In [1]:
import pandas as pd
import json

In [4]:
#Hier Datenursprung ändern
with open ("../../Other/dict_artists.json") as datafile:
    data=json.load(datafile)

out1 = pd.DataFrame(data.items(),columns=["artistid","RecommendedArtists"])

In [5]:
out1

,artistid,RecommendedArtists
0,0DheY5irMjBUeLybbCUEZ2,[]
1,0DlhY15l3wsrnlfGio2bjU,[]
2,0DmRESX2JknGPQyO15yxg7,[]
3,0DmhnbHjm1qw6NCYPeZNgJ,[]
4,0Dn11fWM7vHQ3rinvWEl4E,[]
...,...,...
573851,4NUP7lYc6eSVzbCkOR6qnO,"[3rqhlSKKMH4J9jl1btwyaB, 2zZjjkd0WsshX6izHBOww..."
573852,1JvLsDIsLhgGGavDkyZ12g,"[2zZjjkd0WsshX6izHBOwwL, 6NKA1Pv0yrkoij76XfVJp..."
573853,6c3GG5wvGdDxLoDbzBqDj7,"[6giRH0SClwFubiTbbAxH5b, 3rqhlSKKMH4J9jl1btwya..."
573854,36J3tFsGjSSIQYgQVKx3h2,"[7FeWwzAdhYNxvxhvBQfRuv, 6eaZBSxeBRNnM4O3Ofjta..."
573855,54cEPaH0NTifMLjFq3L8Gj,"[32cqXFEVL4d9DyvtHuleHa, 0FwzfgB8J04B0Dce5IlME..."

In [6]:
out1=out1.explode("RecommendedArtists")
out1

                      artistid      RecommendedArtists
0       0DheY5irMjBUeLybbCUEZ2                     NaN
1       0DlhY15l3wsrnlfGio2bjU                     NaN
2       0DmRESX2JknGPQyO15yxg7                     NaN
3       0DmhnbHjm1qw6NCYPeZNgJ                     NaN
4       0Dn11fWM7vHQ3rinvWEl4E                     NaN
...                        ...                     ...
573855  54cEPaH0NTifMLjFq3L8Gj  3cOzi726Iav1toV2LRVEjp
573855  54cEPaH0NTifMLjFq3L8Gj  6LogY6VMM3jgAE6fPzXeMl
573855  54cEPaH0NTifMLjFq3L8Gj  19boQkDEIay9GaVAWkUhTa
573855  54cEPaH0NTifMLjFq3L8Gj  5nvjpU3Y7L6Hpe54QuvDjy
573855  54cEPaH0NTifMLjFq3L8Gj  2bP2cNhNBdKXHC6AnqgyVp

[8991376 rows x 2 columns]

In [7]:
out1.to_csv("../../Other/loadartistrecommends.csv")

In [9]:
#Hier Datenursprung ändern
data2= pd.read_csv("../../Other/artists.csv")

In [10]:
data2

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0
...,...,...,...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,4831.0,['black comedy'],Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46.0,[],Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257.0,[],Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357.0,['black comedy'],Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40.0,['new comedy'],Gabe Kea,8

In [11]:
dataartist=data2[["id","name","followers","popularity"]].copy()

In [12]:
dataartist

,id,name,followers,popularity
0,0DheY5irMjBUeLybbCUEZ2,Armid & Amir Zare Pashai feat. Sara Rouzbehani,0.0,0
1,0DlhY15l3wsrnlfGio2bjU,ปูนา ภาวิณี,5.0,0
2,0DmRESX2JknGPQyO15yxg7,Sadaa,0.0,0
3,0DmhnbHjm1qw6NCYPeZNgJ,Tra'gruda,0.0,0
4,0Dn11fWM7vHQ3rinvWEl4E,Ioannis Panoutsopoulos,2.0,0
...,...,...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,Ali Siddiq,4831.0,34
1162091,6LogY6VMM3jgAE6fPzXeMl,Rodney Laney,46.0,2
1162092,19boQkDEIay9GaVAWkUhTa,Blake Wexler,257.0,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,Donnell Rawlings,2357.0,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,Gabe Kea,40.0,8

In [13]:
dffin= out1.merge(dataartist,left_on="RecommendedArtists",right_on="id")

In [15]:
dffin

,artistid,RecommendedArtists,id,name,followers,popularity
0,0DvvojCMIqsOT1Btiwvq1h,3Y9UedETQztUmRuB2pYaGR,3Y9UedETQztUmRuB2pYaGR,Rubick,20.0,0
1,6ng2L9Pwj7NeXm0vJW8LLr,3Y9UedETQztUmRuB2pYaGR,3Y9UedETQztUmRuB2pYaGR,Rubick,20.0,0
2,3A6TC7BhsBm8LktswCdm0X,3Y9UedETQztUmRuB2pYaGR,3Y9UedETQztUmRuB2pYaGR,Rubick,20.0,0
3,7ofTH0nFjkbKuRTpazOzzV,3Y9UedETQztUmRuB2pYaGR,3Y9UedETQztUmRuB2pYaGR,Rubick,20.0,0
4,4xirLzVl1nnPPBgUFvFbFh,3Y9UedETQztUmRuB2pYaGR,3Y9UedETQztUmRuB2pYaGR,Rubick,20.0,0
...,...,...,...,...,...,...
8864467,0cEAbivoHfAomgJM1nCfgO,4JBkBf59CJmzTO4fboBJWH,4JBkBf59CJmzTO4fboBJWH,Turtleneck,27.0,0
8864468,4NUP7lYc6eSVzbCkOR6qnO,4A7e6SdYhrgg7qoEwBYlyA,4A7e6SdYhrgg7qoEwBYlyA,Backup Johnny,21.0,0
8864469,6c3GG5wvGdDxLoDbzBqDj7,209v7LjUrpsbsik1AoGXqF,209v7LjUrpsbsik1AoGXqF,Property,23.0,0
8864470,6c3GG5wvGdDxLoDbzBqDj7,3UnAVg2Zel01y5FDxYWHL5,3UnAVg2Zel01y5FDxYWHL5,A Thousand Lights,32.0,0
8864471,54cEPaH0NTifMLjFq3L8Gj,6LogY6VMM3jgAE6fPzXeMl,6LogY6VMM3jgAE6fPzXeMl,Rodney Laney,46.0,2

In [18]:
dffin.to_csv("../../Other/loadreccomend with followers.csv")